.myBg{
    /* background: linear-gradient(to right, white, lightgray); */
}
.lists li{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(.9);
   
}
.lists li:hover{
   transform: scale(1);
   transition: all 0.3s ease-out;
}
.lists li a{
    text-decoration: none;
    font-size: 14px;
}
.lists li a:hover{
    text-decoration: underline;
}
.socolNotice{
    border-radius: 10px;
    width: 115px;
    text-align: center;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
.socolNotice:hover{
    width: 120px;
    text-align: center;
}
